.idea/
.project
.pydevproject
.settings
.classpath
.ats/
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
bin/
target/


# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
pythonPlayground/Drafts/test.crx
pythonPlayground/Drafts/test.crx